<router-outlet></router-outlet>

<footer class="footer">
	<div class="footer__content">
		<img src="assets/logo-credit-agricole.svg" alt="Crédit Agricole" class="footer__logo" />
		<div class="footer__info">
			<p>
				© 2026 Crédit Agricole Italia S.p.A. – Tutti i diritti riservati<br>
				Partita IVA: 12345678901 – <a href="/privacy-policy">Privacy Policy</a> – <a href="/cookie-policy">Cookie Policy</a>
			</p>
			<p>
				Sede legale: Via Roma 1, 20100 Milano (MI) – <a href="mailto:info&#64;credit-agricole.it">info&#64;credit-agricole.it</a>
			</p>
		</div>
	</div>
</footer>
